/* Geral */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

header h1 {
  background-color: #0073e6;
  color: white;
  padding: 10px 0;
  margin: 0;
}

header h1 a {
  text-decoration: none; /* Remover sublinhado */
  color: white; /* Garantir que a cor do texto seja branca */
}

/* Seção de instruções */
.instructions {
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
}

/* Tabela */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  background: white;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #0073e6;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

input[type="button"] {
  color: white;
  padding: 8px 12px;
  width: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-easy {
  background-color: #4caf50; /* Verde */
}

.btn-medium {
  background-color: #ff9800; /* Laranja */
}

.btn-hard {
  background-color: #f44336; /* Vermelho */
}

button:hover {
  opacity: 0.8;
}
